<h1> Tickets </h1>
<table class="table">
  <thead>
    <tr>
      <td></td>
      <td>Title</td>
      <td>Description</td>
      <td>Assignee</td>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
	<td> <%= ticket.id %> </td>
	<td> <%= link_to(ticket.title, ticket_path(ticket)) %> </td>
	<td> <%= ticket.description %> </td>
	<td> <%= ticket.user ? link_to(ticket.user.name, ticket.user) : 'Nobody' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to('New Ticket', new_ticket_path) %>
</div>
